code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

body {
  background-image: url(./bgimagefinal.jpg);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
}

.logo{
  font-size: 2rem;
  color: pink;
}

.abouttable {
  margin-left: auto;
  margin-right: auto;
  background-color: lavender;
  border-color: darkmagenta;
  border-width: 3px;
  border: 1;
  border-radius: 10px;
  width: 60%;
  padding: 5%;
  }

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: pink;
  display: flex;
  align-items: center;
}

.navbar ul li a:hover {
  color: #777;
}

.navbar ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.eventtable {
  background-color: lavender;
  border-color: darkmagenta;
  border-width: 3px;
  border: 1;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  }

.viewbutton{
  background-color: red;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 0.3%;
  width: 5%;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.bookbutton{
  background-color: red;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 0.5%;
  width: 10%;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.viewbutton:hover {
  transform: scale(0.98);
}

.bookbutton:hover {
  transform: scale(0.98);
}

.eventdetailtable {
  background-color: lavender;
  border-color: darkmagenta;
  border-width: 3px;
  border: 1;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  }

  .eventdetailtable tr{
    padding: 5%;
    }
  

.eventth{
  border: 0;
}

.eventtitle {
  text-align: left;
  color: darkred;
  font-size: 1.5rem;
}

.eventsh{
  font-weight: bold;
}

.eventhoster{
  color: #777;
  font-size: 0.7rem;
  text-align: left;
  font-style: italic;

}

.eventdetails {
  text-align: left;
  font-size: 0.8rem;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.navbutton {
  padding: 10px 20px;
  border: 1px solid pink;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  padding: 10px 20px;
  border: 1px solid pink;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
